@model List<TweetViewModel>

@if (!string.IsNullOrEmpty(ViewBag.ResponseContent))
{
    <div class="text-center">
        <p>@ViewBag.ResponseContent</p>
    </div>
}

@if (Model != null && Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var tweet in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <img src="@tweet.Imagen" class="card-img-top" alt="Imagen del jugador">
                        <div class="card-body">
                            <h5 class="card-title">#SWF @tweet.Camiseta</h5>
                            <p class="card-text">@tweet.Nombre x @tweet.Campeonato</p>
                            <p class="card-text">@tweet.Fecha</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}