@model List<TweetViewModel>

@if (!string.IsNullOrEmpty(ViewBag.ResponseContent))
{
    <div class="text-center">
        <p>@ViewBag.ResponseContent</p>
    </div>
}

@if (Model != null && Model.Any())
{
    <div class="card-deck">
        @foreach (var tweet in Model)
        {
            <div class="card">
                <img src="" class="card-img-top" alt="Imagen del jugador">
                <div class="card-body">
                    <h5 class="card-title">@tweet.Nombre</h5>
                    <p class="card-text">Número de camiseta: @tweet.Camiseta</p>
                    <p class="card-text">Descripción del campeonato: @tweet.Campeonato</p>
                    <p class="card-text">Fecha: @tweet.Fecha</p>
                </div>
            </div>
        }
    </div>
}